<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040728623326-h5c14snac9orcogv4fgiqhkcc5f5gdgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040728623326-h5c14snac9orcogv4fgiqhkcc5f5gdgt</string>
	<key>API_KEY</key>
	<string>AIzaSyDU7SXh8BqyV20pJG627vA8ZUbHVgTlDD0</string>
	<key>GCM_SENDER_ID</key>
	<string>1040728623326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.intake4.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-2f627</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-2f627.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040728623326:ios:f44ec560fa209ad6b89a4f</string>
</dict>
</plist>